/* ------ Everything ------ */
* {
    font-family: "Roboto Flex", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
            "slnt" 0,
            "wdth" 100,
            "GRAD" 0,
            "XOPQ" 96,
            "XTRA" 468,
            "YOPQ" 79,
            "YTAS" 750,
            "YTDE" -203,
            "YTFI" 738,
            "YTLC" 514,
            "YTUC" 712;
    margin: 0;
}

/* ------ Header ------ */
.header-all{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    background-color: white;

    position: fixed; /* Hjælp få nav til at følge med - Kildehenvisning: https://chatgpt.com/c/68e63e13-2ed0-8330-811d-5f5fc766848a */
    top: 0;
    width: 100%;
}

.logo {
    font-family: "Nanum Myeongjo", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

.header-all ul{
    list-style: none;
    display: flex;
    gap: 1.3rem;
    font-weight: lighter;
}

.header-left{
    font-size: 0.9rem;
    font-weight: lighter;
}

.header-left li:hover{
    text-decoration: underline;
}

.header-right{
    padding-right: 2rem;
    display: flex;
    align-items: center;
    padding-left: 4rem;
}

.header-search{
    border: none;
    border-bottom: 1px solid #000; /* Hjælp med streg under searchbar - Kildehenvisning: https://chatgpt.com/c/68e63703-4124-832a-a149-da3377b2effa */
    padding-right: 10rem;
    padding-bottom: 0.4rem;
    font-size: 1rem;
}

.header-search ul{
    display: flex;
}


/* ------ Pink Section ------ */
.pink{
    background-image: url("Pink-Background.jpg"); /* Hjælp til billed som baggrund - Kildehenvisning: https://chatgpt.com/c/68e628df-6714-8325-8953-37cd8bfe66c5 */
    color: white;
}

.pink-mid{
    padding: 22rem;
    text-align: center;
}

.pink-october{
    font-size: 2.5rem;
}

.pink-discount{
    font-size: 6rem;
    font-weight: 500;
}

.pink-bottom{
    display: flex;
    justify-content: space-between;
    padding: 1.2rem;
    font-size: 1.2rem;
}

/* ------ Category Section ------ */
.all-category{
    display: flex;
    justify-content: space-around;
    padding: 2rem;
}

.all-category img{
    width: 410px;
    height: 590px;
}



/* ------ Red Section ------ */
.red{
    background-image: url("Red-Background.jpg");
    color: white;
}

.red-mid{
    padding: 25rem;
    text-align: center;
}

.red-discount{
    font-size: 5rem;
    font-weight: 500;
}

.red-season{
    font-size: 2.5rem;
}

.red-bottom{
    display: flex;
    justify-content: space-between;
    padding: 1.2rem;
    font-size: 1.2rem;
}

/* ------ Mini Section ------ */

.mini {
    display: flex;
    padding-bottom: 1rem;
    padding-top: 4rem;
    font-size: 0.9rem;
    color: grey;
    font-weight: 300;
}

.mini ul{
    list-style: none;
    display: flex;
    gap: 1rem;
}


/* ------ Footer ------ */
footer{
    background-color: black;
    color: white;
    padding: 2rem;
}

.footer-top{
    display: flex;
    justify-content: space-between;
}


.all-list{
    display: flex;
    gap: 1rem;

}

.all-list ul{
    list-style: none;


}

.footer-bottom{
    display: flex;
    justify-content: space-between;
    padding-top: 10rem;
}

.footer-bottom-left{
    color: dimgray;

}

.footer-bottom-left ul{
    display: flex;
    list-style: none;
    gap: 1rem;
}

.footer-bottom-right{
    display: flex;
    gap: 0.5rem;
}